h1#page-title Grupo de 2016!
.lightbox
  a(href="assets/img/galeria/2016-003.jpg" is-lightbox) Abertura de nossas aulas, nosso mentor se apresentando aos inscritos
  a(href="assets/img/galeria/2016-001.jpg" is-lightbox) Alunos de dezembro testando os micro para uma possível aula presencial em 2017!
  a(href="assets/img/galeria/2016-002.jpg" is-lightbox) Confraternização dos grupo no bar do zé após todos terminarem seus projetos