h1#page-title Assuntos de 2017

h2 Nosso Cronograma
.fluid-table
  table
    thead
      tr
        th(colspan=14) Assuntos por Mês
      tr
        th(colspan=2)
        th Janeiro
        th Fevereiro
        th Março
        th Abril
        th Maio
        th Junho
        th Julho
        th Agostos
        th Setembro
        th Outubro
        th Novembro
        th Dezembro
    tbody
      tr
        th(rowspan=7) 
          span(style='transform: rotate(-90deg); display: block; width: 30px;font-weight: bold') Assuntos
      tr
        td HTML
        td.xis x
        td.xis x
        td.xis x
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
      tr      
        td Pug
        td.xis 
        td.xis 
        td.xis x
        td.xis x
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
      tr
        td CSS
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis x
        td.xis x
        td.xis x
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
      tr
        td Stylus
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis x
        td.xis x
        td.xis 
        td.xis 
        td.xis 
        td.xis 
      tr
        td.xis Javascript
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis x
        td.xis x
        td.xis x
        td.xis x
      tr
        td Vue
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis 
        td.xis x
        td.xis x