h1#page-title Inscreva-se!

h2 Como se inscrever
ol 
  li Preencha o formulário abaixo
  li Você talvez (ou melhor, não) receberá um email confirmando sua inscrição
  li Aguarde eternament o nosso retorno por telefone!

h2 Formulário de Inscrição
form(action="index.html" onsubmit="submitValidation()").form
  .form-group
    span.form-label Nome: 
    input.form-input(type="text" name='nome' onblur="validateText(this, 'nome')" )

  .form-group
    span.form-label Senha (que não será usada pra nada): 
    input.form-input(type="password" name='senha' )

  .form-group
    span.form-label Sexo:
    label 
      input(type="radio" name='sexo' value="M" onchange="validateCheckboxOrRadio(this, this.name)") 
      | Masculino
    label 
      input(type="radio" name='sexo' value="F" onchange="validateCheckboxOrRadio(this, this.name)") 
      | Feminino
    label 
      input(type="radio" name='sexo' value="I" onchange="validateCheckboxOrRadio(this, this.name)") 
      | Indefinido

  .form-group
      span.form-label Qual sua cor favorita? (Desculpe, Só temos essas opções)
      select.form-input(name="cor" )
        option Azul
        option Verde
        option Vermelho
  
  .form-group
    span.form-label Quais desses utensílios domésticos há na sua casa? (Selecione pelo menos um)
    label
      input(type="checkbox" name='utensilios[]' value="Liquidificador" onclick="validateCheckboxOrRadio(this, this.name)")
      | Liquidificador
    label
      input(type="checkbox" name='utensilios[]' value="Microondas" onclick="validateCheckboxOrRadio(this, this.name)")
      | Microondas
    label
      input(type="checkbox" name='utensilios[]' value="Britadeira" onclick="validateCheckboxOrRadio(this, this.name)")
      | Britadeira

  .form-group
    span.form-label Telefone:
    input.form-input(type="tel" name='tel' onblur="validateTel(this)" placeholder='(XX)9XXXX-XXXX' )

  .form-group
    span.form-label E-Mail:
    input.form-input(type="email" name='email' onblur="validateEmail(this)" )

  .form-group
      span.form-label Bota umas palavras aí! (a gente não vai ler mesmo):
      textarea.form-input()

  .form-group
    button.btn.block(type='submit') inscrever-se!

h2 Incrições confirmadas
ul
  li Fulano José
  li Teste da Silva
  li Anônimo da 209
  li Um outro carinha aí
  li Seja você o próximo!!
