h1#page-title Venha conhecer o grupo!

p O grupo via Skype/JSFiddle+TogetherJS foi iniciado em 2016, com o intuito de trazer o lado frontend mais próximo de seus interessados. 
  | Acho que o foco aqui não é o texto e sim só ter 3 paragrafos então Lorem ipsum dolor sit amet, 
  | consectetur adipisicing elit. Nostrum consequatur doloremque repellendus similique eos explicabo facere
  | suscipit aperiam nemo laudantium, hic in omnis nesciunt. Sapiente ipsam velit maxime harum eius.

p Sempre focando nas arquiteturas, ferramentas e metodologias mais atuais e mais utilizadas/simplificadas, como arquitetura MVVM, novas versões do EcmaScript/HTML/CSS, 
  | novos pré-processadores e outras linguagens pra web como Node(Javascript) e Elm. mais um pouco de Lorem ipsum dolor sit amet,
  | consectetur adipisicing elit. Nulla eligendi, facilis ipsum! Rerum enim numquam, est officia necessitatibus nisi? Dolores 
  | eveniet, impedit quaerat dignissimos omnis ducimus aliquid tempora quia sed.

p E como resultado a toda a cerreira, caso mantenha a frequência, é previsto um site completo com toda a arquitetura pré-pronta 
  | criado pelo próprio participante com sua própria cara pois não há cobrança de padrões, apenas que os conheça, e agora o último 
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facilis deserunt consequuntur odit repellat! Numquam maxime, 
  | libero! Aperiam, optio ab dolorem, autem, nobis at itaque tenetur laboriosam totam excepturi adipisci!