ul.menu-list
  li.menu-item
    a(href="inscricao.html" onclick="goto('inscricao')" ) Increva-se!
  li.menu-item
    a(href="2016.html" onclick="goto('2016')" ) Grupo de 2016
  li.menu-item
    a(href="assuntos.html" onclick="goto('assuntos')" ) Assuntos de 2017