footer 
  | &copy; Vitor Silvério de Souza. 2017. 
  | Todos os direitos reservados.
  br
  | (Sem querer falar nada, mas centralizado fica feio que dói)

script(src="assets/js/index.js")
script(src="assets/js/lightbox.js")
script(src="assets/js/validation.js")