head
  title HCJ &copy; 2017
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, user-scalable=no")
  link(href="assets/img/favicon.ico" rel="shortcut icon")
  link(href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet")
  link(href="assets/css/lightbox.css" rel="stylesheet")
  link(href="assets/css/main.css" rel="stylesheet")
