doctype html
html(lang="pt-BR")
  include include/head.pug
  body
    .wrapper
      include include/header.pug
      section.main
        .content
          #main-page
        aside
          include include/aside.pug
      include include/footer.pug
